.design-department{
    /* background: url(./img/design-dep.png) no-repeat; */
    background-size: cover;
    text-align: center;
    background-position: 0% 35%;
}

.desing-department_title{
    display: none;
}

.design-depart-fs h4{
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
    padding-top: 430px;
    z-index: 99999;
}

.desing-department_subtitle-fs{
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.design-depart-fs{
    padding: 10px 0px 391px;
    position: relative;
}

.desing-department_title-fs{
    padding: 10px 0px 391px;
    transform: translateY(20px);
}

.design-depart-fs.open{
    background: url(./img/design-dep.png) no-repeat; 
    background-size: 0%;
    text-align: center;
    /* background-position: 0% 35%; */
    background-position: center;
    -webkit-transition: all 1s ease-out;
}

.design-depart-fs.open.big{
    background-size: 100%;
    background-position: 0% 0%;
    /* transform: translateY(60px);
    -webkit-transform: translateY(60px);
    -moz-transform:translateY(60px);
    -o-transform: translateY(60px); */
}
.design-depart-fs.open::after{
    opacity: 0;
    visibility: hidden;
    transition: .55s opacity, .55s visibility;
}

.design-depart-fs::after{
    content: "";
    position: absolute;
    top: 19%;
    right: 35%;
    width: 31%;
    height: 100%;
    background: url(./img/fs.svg) no-repeat;
    background-size: 100%;
    z-index: -1;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}


.design-depart-fs.timeout::after{
    transform: scale(1.3) translateY(60px);
    -webkit-transform: scale(1.3) translateY(60px);
    -moz-transform: scale(1.3) translateY(60px);
    -o-transform: scale(1.3) translateY(60px);
}

.desing-department_title-fs span{
    font-weight: 900;
    font-size: 70px;
    line-height: 120px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 3px #111111;
    padding: 15px 0px 11px;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: .55s opacity, .55s visibility;
}

.desing-department_title-fs span.open{
    opacity: 1;
    visibility: visible;
}

.design-department h5{
    display: none;
    font-weight: bold;
    font-size: 36px;
    line-height: 38px;
    color: #000000;
    padding-top: 430px;
}


.desing-department_title{
    font-weight: 900;
    font-size: 105px;
    line-height: 150px;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 3px #111111;
    padding: 15px 0px 391px;
    position: relative;
}

.desing-department_title-fs::before{
    content: '';
    position: absolute;
    top: -11%;
    right: 58%;
    background: url(./img/design-circle.png) no-repeat;
    background-size: 100%;
    width: 0%;
    height: 100%;
    z-index: -1;
    -webkit-transition: all 1s ease-out;
}

.desing-department_title-fs.next::before{
    width: 20%;
    transform: scale(1.3) translateY(60px);
    -webkit-transform: scale(1.3) translateY(60px);
    -moz-transform: scale(1.3) translateY(60px);
    -o-transform: scale(1.3) translateY(60px);
}

.desing-department_title::before{
    content: '';
    position: absolute;
    top: 24%;
    left: 19%;
    background: url(./img/design-circle.png) no-repeat;
    background-size: 100%;
    width: 28%;
    height: 100%;
    z-index: -1;
    
}

.desing-department_subtitle{
    color: #000000;
    position: relative;
    text-align: center;
}
.desing-department_subtitle-fs{
    position: relative;
}

.desing-department_subtitle-fs.open::before{
    content: '';
    position: absolute;
    top: -14%;
    background: url(./img/up.png) no-repeat;
    background-size: 100%;
    width: 857px;
    height: 100%;
}

.desing-department_subtitle-fs.open::after{
    content: '';
    position: absolute;
    background: url(./img/down.png) no-repeat;
    background-size: 100%;
    width: 857px;
    top: 85%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
}

.desing-department_subtitle::before{
    content: '';
    position: absolute;
    top: -4%;
    background: url(./img/up.png) no-repeat;
    background-size: 100%;
    width: 1284px;
    height: 100%;
}

.desing-department_subtitle::after{
    content: '';
    position: absolute;
    bottom: -4%;
    background: url(./img/down.png) no-repeat;
    background-size: 100%;
    width: 1284px;
    height: 100%;
    bottom: -122px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
}

@media(max-width: 1770px){
    .desing-department_title{
        font-size: 70px;
        line-height: 100px;
        padding: 8px 0px 391px;
    }
    .design-department h5 {
        padding-top: 266px;
        font-size: 20px;
        line-height: 24px;
    }
    .desing-department_title::before{
        top: -11%;
    }
    .desing-department_subtitle::before {
        top: -7%;
        width: 855px;
    }
    .desing-department_subtitle::after{
        width: 855px;
        bottom: -82px;
    }
    .container{
        max-width: unset;
        width: 85%;
    }
    .design-department {
        background-position: 0% -104%;
        background-size: contain;
    }
    .desing-department_title {
        -webkit-text-stroke: 2px #111111;
    }
}

@media(max-width: 1580px){
    .design-depart-fs {
        padding: 10px 0px 91px;
    }
    .desing-department_title-fs span{
        -webkit-text-stroke: 2px #111111;
    }
    .design-depart-fs h4{
        padding-top: 200px;
    }
    .desing-department_title-fs::before{
        top: 6%;
    }
    .desing-department_title-fs span{
        line-height: 78px;
    }
    .desing-department_subtitle-fs{
        margin: 40px 0px;
    }
}
@media screen and (max-width: 880px){
    .desing-department_title {
        font-size: 46px;
        line-height: 76px;
        padding-top: 0px;
    }
    .desing-department_subtitle-fs{
        margin: 10px 0px;
    }
    .design-department h5{
        font-size: 22px;
    }
    .desing-department_subtitle::before {
        top: -2%;
        width: 563px;
    }
    .desing-department_subtitle::after {
        width: 563px;
        bottom: -62px;
    }
    .design-department{
        background-position: 15%;
   }
   .desing-department_subtitle::before,
    .desing-department_subtitle::after{
        display: none;
    }
    .desing-department_subtitle-fs,
    .desing-department_title-fs span{
        font-size: 42px;
    }
    .desing-department_title-fs::before{
        top: 5%;
    }
    .desing-department_subtitle-fs.open::before {
        top: -78%;
        width: 514px;
    }
    .desing-department_subtitle-fs.open::after {
        width: 512px;
        top: 116%;
    }
    .desing-department_subtitle-fs{
        line-height: 24px;
    }
    .design-depart-fs::after{
        top: 25%;
    }
    .desing-department_title-fs{
        padding-bottom: 40px;
        transform: translateY(0px);
    }
    .design-depart-fs h4{
        font-size: 24px;
    }
}

@media screen and (max-width: 580px){
    .desing-department_subtitle-fs.open::before,
    .desing-department_subtitle-fs.open::after {
        display: none;
    }
    .design-depart-fs {
        padding: 10px 0px 30px;
    }
    .desing-department_title-fs{
        padding-bottom: 100px;
    }
    .desing-department_title-fs span{
        padding: 0px;
    }
    .desing-department_subtitle-fs, .desing-department_title-fs span {
        font-size: 32px;
        line-height: 37px;
    }
    .desing-department_title-fs::before {
        top: -31%;
    }
    .desing-department_title-fs::before {
        top: -10%;
    }
    .desing-department_title{
        padding: 0px 0px 100px;
    }
    
    .design-department h5 {
        padding-top: 100px;
    }
    .desing-department_title::before{
        width: 45%;
        left: 8%;
    }
    .desing-department_title {
        font-size: 37px;
        line-height: 54px;
    }
    .design-depart-fs h4 {
        padding-top:60px;
    }
    .virtues-wrapper {
        margin-top: 0px;
    }
    .design-depart-fs h4 {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 420px){
    .desing-department_title-fs {
        transform: translateY(50x);
    }
    .desing-department_title-fs {
        padding-bottom: 27px;
    }
    .design-depart-fs.open.big {
        background-size: 146%;
    }
}