.contacts{
    font-family: Montserrat;
}

.contacts_title{
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #000000;
    margin: 97px 0px 40px 0px;
    z-index: 2;
}

.contacts_left-mail{
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    backdrop-filter: blur(60px);
    height: 70px;
    padding: 18px 0px 18px 30px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 215%;
    color: #000000;
    z-index: 2;
}

.contacts_wrapper{
    display: flex;
    justify-content: flex-start;
}

.contacts_left{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 753px;
}

.contacts_img{
    position: absolute;
    top: 17px;
    right: 21px;
    max-width: 324px;
    height: auto;
    z-index: -1;
}

.contacts_left-info{
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    backdrop-filter: blur(60px);
    padding: 18px 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 215%;
    color: rgba(0, 0, 0, 0.5);
    max-height: 194px;
    resize: none;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}

.contacts_content-link a:hover{
    color: #FFCC00;
    transition: 0.3s;
}

.contacts_left_button{
    background: #FFCC00;
    box-shadow: 0px 10px 3rgba(184, 168, 107, 0.2);
    max-width: 255px;
    padding: 21px 40px 21px 42px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111111;
    cursor: pointer;
    margin-top: 16px;
    border: none;
    transition: 0.3s;
}

.contacts_left_button:hover{
    font-weight: 900;
    box-shadow: none;
    font-size: 18px;
    transition: 0.3s;
}

.contacts_right{
    margin-top: 56px;
    margin-left: 117px;
    z-index: 2;
}

.contacts_content:first-child{
    margin-bottom: 35px;
}

.contacts_content-title{
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    color: #5B24B3;
    margin-bottom: 11px;
}

.contacts_content-link{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 215%;
}

.contacts_content-link a{
    color: #000000;
    margin-left: 10.56px;
}

.contacts-blue-blur{
    background: url(/static/media/company.3433ef51.png) no-repeat;
    background-size: auto;
    background-size: 100%;
    width: 430px;
    height: 1000px;
    position: absolute;
    top: 210px;
    left: 0px;
}

.contacts-viollet-blur{
    background: url(/static/media/company-2.cf0b68d8.png) no-repeat;
    background-size: auto;
    background-size: 100%;
    width: 430px;
    height: 1000px;
    position: absolute;
    top: 245px;
    right: 0px;
}

@media screen and (max-width: 850px){
    .contacts_img{
        top: 300px;
    }
    .contacts_wrapper{
        display: flex;
        flex-direction: column;
    }
    .contacts_left{
        width: auto;
        max-width: 753px;
    }
    .contacts_right{
        margin-left: 0;
        display: flex;
    }
    .contacts_navbar{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .contacts_content:first-child{
        margin-right: 50px;
    }
}

@media screen and (max-width: 670px){
    .contacts_img{
        top: 500px;
        opacity: 0.8;
    }
    .contacts-viollet-blur{
        top: 50px;
        width: 320px;
    }
    .contacts-blue-blur{
        width: 320px;
        top: 370px;
    }
}

@media screen and (max-width: 400px){
    .contacts_img{
        top: 755px;
        right: 35px;
        width: 216px;
        height: auto;
        opacity: 1;
    }
    .contacts_navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
    .contacts-blue-blur{
        top: 670px;
    }
    .contacts_left_button{
        width: 100%;
        max-width: unset;
    }
}

@media screen and (max-width: 320px){
    .contacts_img{
        right: -10px;

    }
}